*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #ecf4fb;
}

.imgGallery{

    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

}

.imgGallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.imgGallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}
.fullImg{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.fullImg img{
    width: 90%;
    max-width: 500px;

}
.fullImg span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

}

.fullImg #next{
    position: absolute;
    top: 50%;
    right: 28%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    background: black;
    color: green;
}

.fullImg #prev{
    position: absolute;
    top: 50%;
    right: 68%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    color: red;
    background: black;

}

body{
    margin: 0;
    padding: 0;
    background: #000000;
  }

ul{
    padding: 0%;
    margin: 0 0 0 250px;
    list-style: none;
}

nav{
    width: 100%;
    overflow: auto;
    background: black;
}
li{
    float: left;
}
li a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: arial;
    color: white;
    text-align: center;

}
li a:hover{
    background: gray;
    text-transform: uppercase;
}

.container{
    width: 100%;
    text-align: center;

}

h1{
    font-weight: normal;
    font-size: 50px;
    position: relative;
    margin: 40px 0;
   font-style: initial;
   color: rgb(39, 6, 88);
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color:black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }

    50%{
        width: 200px;

    }
    100%{
        width: 100px;
    }
}

header {
    background: url(/html/images/new-york.jpg);
    height: 100vh;
    -webkit-backgound-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.edit-btn{
    color: #000000;
    position: absolute;
	font-size: 20px;
    background-color: red;
}
.edit-btn:hover{
    filter: brightness(70%);
}
.edit-btn1{
    color: #000000;
    position: absolute;
	font-size: 20px;
    left: 40%;
    background-color: red;
}
.edit-btn1:hover{
    filter: brightness(70%);
}
.edit-btn2{
    color: #000000;
    position: absolute;
	font-size: 20px;
    right: 512px;
    background-color: red;
}
.edit-btn2:hover{
    filter: brightness(70%);
}
.modal-box{
    font-family: 'segoe ui';
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.modalContent{
    background-color: blue;
	margin: 10% auto;
	padding: 20px;
	width: 50%;
	box-shadow: 0 8px 40px rgb(0 0 0 / 16%);
	border-radius: 6px;
}